@charset "utf-8";
/* CSS Document */

[data-role=page]{height: 100% !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%}
#my-div {
	margin-top: 40px;
    width    : 290px;
    height   : 310px;
    overflow : hidden;
    position : relative;
}

#my-iframe {
    position : absolute;
    top      : -240px;
    right    : 20px;
    width    : 950px;
    height   : 800px;
}